<div id="cako-menu">
    <div class="nav-icon-outer">
        <div id="menu-icon" class="nav-icon"></div>
    </div>
    <div id="cako-menu-inner">
        <script type="module" src="{{asset "js/lib/ionicons/ionicons.esm.js"}}"></script>
        <div id="cako-menu-lights" class="cako-menu-item">
            <ion-icon name="bulb-outline"></ion-icon>
            Lights
        </div>
        <a id="cako-menu-features-link" href="/features/">
            <div id="cako-menu-features" class="cako-menu-item">
                <ion-icon name="star-outline"></ion-icon>
                Features
            </div>
        </a>
        <div class="cako-menu-search">
            <ion-icon name="search-outline"></ion-icon>
            <input id="cako-search" type="text" placeholder="Search" />
            <ion-icon id="cako-search-clear" name="close-circle-outline"></ion-icon>
        </div>
    </div>
</div>