<div id="cako-menu">
    <div class="menu-icon-outer">
        <ion-icon name="menu-outline" onclick="toggleMenu()"></ion-icon>
    </div>
    <div id="cako-menu-inner">
        <div class="cako-menu-item" onclick="toggleLights()">
            <ion-icon name="bulb-outline"></ion-icon>
            Lights
        </div>
        <a href="/features">
            <div class="cako-menu-item">
                <ion-icon name="star-outline"></ion-icon>
                Features
            </div>
        </a>
        <div class="cako-menu-search">
            <div>
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <div>
                <input id="cako-search" type="text" placeholder="Search" />
            </div>
            <div>
                <ion-icon id="cako-search-clear" name="close-circle-outline"></ion-icon>
            </div>
        </div>
    </div>
    <script>
        function showMenuIndicator() {
            const menu = document.getElementById("cako-menu");

            const i = document.createElement("div");
            i.id = "cako-menu-indicator";

            menu.appendChild(i);
        }

        function clearMenuIndicator() {
            const i = document.getElementById("cako-menu-indicator");

            if (i) {
                i.remove();

                localStorage.setItem("menuIndicatorCleared", String(Date.now()));
            }
        }

        function toggleMenu() {
            const menuInner = document.getElementById("cako-menu-inner");

            if (menuInner) {
                if (menuInner.style.display === "block") {
                    closeMenu();
                } else {
                    openMenu();
                }
            }
        }

        function openMenu() {
            const menuInner = document.getElementById("cako-menu-inner");

            menuInner.style.display = "block";
            clearMenuIndicator();

            if (focusSearch !== undefined) {
                focusSearch();
            }
        }

        function closeMenu() {
            const menuInner = document.getElementById("cako-menu-inner");

            menuInner.style.display = "none";

            if (clearSearch) {
                clearSearch();
            }

            if (document.activeElement) {
                document.activeElement.blur();
            }
        }

        const menuItems = document.getElementsByClassName("cako-menu-item");

        for (const i of menuItems) {
            i.addEventListener("click", toggleMenu);
        }

        // show indicator for new features
        const indicatorCleared = localStorage.getItem("menuIndicatorCleared");

        if (!indicatorCleared || (Number(indicatorCleared) < 1633046530235)) {
            showMenuIndicator();
        }
    </script>
</div>