<div class="cako-featured">
    <div class="cako-featured-header">Frontier</div>
    <div class="cako-post">
        <a href="/mesquite/" class="cako-post-link yellow">
            <div class="cako-post-title">Mesquite</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2020-10-19">19 October 2020</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/torsion/" class="cako-post-link yellow">
            <div class="cako-post-title">Torsion</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2020-10-24">24 October 2020</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/cash-and-cargo/" class="cako-post-link yellow">
            <div class="cako-post-title">Cash and Cargo</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-02-23">23 February 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/silas/" class="cako-post-link yellow">
            <div class="cako-post-title">Silas</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-04-25">25 April 2021</time>
            </div>
        </a>
    </div>
</div>