<div class="cako-featured">
    <div class="cako-featured-header">CakoCamera
    </div>
    <div class="cako-post">
        <a href="/cako-io-endorses-private-spaces-and-services/" class="cako-post-link yellow">
            <div class="cako-post-title">cako.io Endorses Private Spaces and Services</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-17">17 December 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/cako-technologies-popular-among-content-creators/" class="cako-post-link yellow">
            <div class="cako-post-title">Cako Privacy Technologies Popular Among Content Creators</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-15">15 December 2021</time>
            </div>
        </a>
    </div>
</div>