<div class="cako-featured">
    <div class="cako-featured-header">Ayin
    </div>
    <div class="cako-post">
        <a href="/dionysus/" class="cako-post-link">
            <div class="cako-post-title">Dionysus!</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2020-03-18">18 March 2020</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/e30/" class="cako-post-link">
            <div class="cako-post-title">E30</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-02-01">1 February 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/ayin/" class="cako-post-link">
            <div class="cako-post-title">Ayin</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-03-13">13 March 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/scorched-earth-and-the-scrying-eye/" class="cako-post-link">
            <div class="cako-post-title">Scorched Earth and the Scrying Eye</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-03-26">26 March 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/aion/" class="cako-post-link">
            <div class="cako-post-title">Aion</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-04-17">17 April 2021</time>
            </div>
        </a>
    </div>
</div>