<div class="cako-featured">
    <div class="cako-featured-header">FrameWorx Only
    </div>
    <div class="cako-post">
        <a href="/lovely-rita-fuck-the-surveillance-state-boulder-bar-treemix-more-girls-reprise/"
            class="cako-post-link yellow">
            <div class="cako-post-title">Lovely Rita (fuck.tha.surveillance.state)</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-02">2 December 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/frameworx-only/" class="cako-post-link yellow">
            <div class="cako-post-title">FrameWorx Only</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-09">9 December 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/there-i-go-catchin-a-vibe/" class="cako-post-link yellow">
            <div class="cako-post-title">There I Go Catchin' a Vibe</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-12">12 December 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/over-ovid/" class="cako-post-link yellow">
            <div class="cako-post-title">Ov'er Ov'id</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-12">12 December 2021</time>
            </div>
        </a>
    </div>
</div>