<div class="cako-featured">
    <div class="cako-featured-header">Metal Gear
    </div>
    <div class="cako-post">
        <a href="/foundation/" class="cako-post-link yellow">
            <div class="cako-post-title">Foundation</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-09-23">23 September 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/sealed/" class="cako-post-link yellow">
            <div class="cako-post-title">Sealed</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-09-24">24 September 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/the-patriots/" class="cako-post-link yellow">
            <div class="cako-post-title">The Patriots</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-10-03">3 October 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/seen-unseen/" class="cako-post-link yellow">
            <div class="cako-post-title">Seen / Unseen</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-10-07">7 October 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/lexical-gear/" class="cako-post-link yellow">
            <div class="cako-post-title">Lexical Gear</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-10-26">26 October 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/say-hi-to-ma-bell-for-me/" class="cako-post-link yellow">
            <div class="cako-post-title">Say Hi to Ma Bell for Me</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-11-09">9 November 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/african-internet-shoulda-got-a-mac/" class="cako-post-link yellow">
            <div class="cako-post-title">African Internet (Shoulda Got a Mac)</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-11-10">10 November 2021</time>
            </div>
        </a>
    </div>
</div>