<div class="cako-featured">
    <div class="cako-featured-header">LibertyWorks
    </div>
    <div class="cako-post">
        <a href="/press/" class="cako-post-link">
            <div class="cako-post-title">Press</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-02-12">12 February 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/what-is-the-purpose-of-a-computer/" class="cako-post-link">
            <div class="cako-post-title">What is the purpose of a computer?</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-02-07">7 February 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/sleepy-january/" class="cako-post-link">
            <div class="cako-post-title">Sleepy January</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-26">26 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/what-is-demilitarized-media/" class="cako-post-link">
            <div class="cako-post-title">What is Demilitarized Media?</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-02-12">12 February 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/alone-with-you/" class="cako-post-link">
            <div class="cako-post-title">Alone with you</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-02-13">13 February 2022</time>
            </div>
        </a>
    </div>
</div>