<div class="cako-featured">
    <div class="cako-featured-header">Defrozen
    </div>
    <div class="cako-post">
        <a href="/controlart-class-keter/" class="cako-post-link">
            <div class="cako-post-title">ControlArt Class: Keter</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-23">23 December 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/phantompower/" class="cako-post-link">
            <div class="cako-post-title">PhantomPower</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2021-12-23">23 December 2021</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/frost/" class="cako-post-link">
            <div class="cako-post-title">Frost</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-02-23">23 February 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/the-relationship-between-faith-and-reason/" class="cako-post-link">
            <div class="cako-post-title">The Relationship Between Faith and Reason</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-03-05">5 March 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/defrozen/" class="cako-post-link">
            <div class="cako-post-title">Defrozen</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-05-04">4 May 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/carefirst/" class="cako-post-link">
            <div class="cako-post-title">CareFirst</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-05-17">17 May 2022</time>
            </div>
        </a>
    </div>
</div>