<div class="cako-featured">
    <div class="cako-featured-header">Playin' with Ms. Hermes
    </div>
    <div class="cako-post">
        <a href="/rosegold/" class="cako-post-link yellow">
            <div class="cako-post-title">RoseGold</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-02">2 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/ive-heard/" class="cako-post-link yellow">
            <div class="cako-post-title">I've Heard</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-10">10 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/pressure-cooka-market-hooka/" class="cako-post-link yellow">
            <div class="cako-post-title">Pressure Cooka Market Hooka</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-11">11 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/jojo-rabbit/" class="cako-post-link yellow">
            <div class="cako-post-title">Jojo Rabbit</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-11">11 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/bring-this-one-back-f-you/" class="cako-post-link yellow">
            <div class="cako-post-title">Bring this one back f'you</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-15">15 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/funniest-cars/" class="cako-post-link yellow">
            <div class="cako-post-title">Funniest Cars</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-16">16 January 2022</time>
            </div>
        </a>
    </div>
    <div class="cako-post">
        <a href="/now-were-all/" class="cako-post-link yellow">
            <div class="cako-post-title">Now We're All</div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date" datetime="2022-01-19">19 January 2022</time>
            </div>
        </a>
    </div>
</div>