<div id="index-inner" class="index inner">
    <div id="cako-post-feed-outer">
        {{!--{{> "featured"}}--}}
        <div id="cako-post-feed">
            {{#get "posts" limit="25"}}
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
        <div id="loading-posts">Loading posts...</div>
        {{> "copyright"}}
    </div>
</div>