<div class="crematica-nav">
        <h1><a href="/">cako.io</a></h1>
        <h2><a href="/about">about</a></h2>
        <h2><a class="email-address" href="mailto:name@domain.io"><i class="fa fa-envelope fa-fw"></i>contact</a></h2>
</div>
