<div class="cako-post">
    <a class="cako-post-link" href="{{url}}">
        <div class="cako-post-title">{{title}}</div>
        <div class="cako-post-date-outer">
            <time class="cako-post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
        </div>
    </a>
</div>
