<div class="site-footer-content inner">
    <section class="copyright"><a href="https://davidcako.com">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
    <div id="email-address-outer">
        <a id="email-address" href="mailto:dc@cako.io">dc@cako.io</a>
    </div>
</div>