<div class="cako-post">
    <a class="cako-post-link" href="{{url}}">
        <div class="cako-post-title">{{title}}</div>
        <div class="cako-post-date-outer">
            <div class="cako-post-date">{{date published_at format="DD MMM YYYY"}}</div>
        </div>
    </a>
</div>
