<a href="{{@blog.url}}">
    <h1 id="cako-site-nav-text">
        <span id="last-name-c">C</span>
        <span id="last-name-a">A</span>
        <span id="last-name-k">K</span>
        <span id="last-name-o">O</span>
        <span id="header-io">.IO</span>
    </h1>
</a>
