<h1 id="cako-header-text">
    <a id="cako-site-nav-link" href="{{@site.url}}">
        <span id="last-name-c">C</span><span id="last-name-a">A</span><br><span id="last-name-k">K</span><span id="last-name-o">O</span>
    </a>
    <script type="text/javascript" src="{{asset "js/headerOpacity.js"}}"></script>
</h1>
