<template id="cako-post-link-template">
    <div class="cako-post">
        <a class="cako-post-link">
            <div class="cako-post-title"></div>
            <div class="cako-post-date-outer">
                <time class="cako-post-date"></time>
            </div>
        </a>
    </div>
</template>

<template id="cako-post-template">
    <article class="post-full post no-image">
        <header class="post-full-header">
            <h1 class="post-full-title"></h1>
            <section class="post-full-meta">
                <time class="post-full-meta-date"></time>
            </section>
        </header>
        <section class="post-full-content"></section>
    </article>
</template>