{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header"}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- The main content area --}}
<main id="site-main" class="site-main outer index" role="main">
    <div id="index-inner" class="index inner">
       <div id="cako-post-feed-outer">
           <div id="cako-post-feed">
                {{#get "posts" limit="all"}}
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
                {{/get}}
            </div>
            <div id="loading-posts">Loading posts...</div>
            {{> "copyright"}}
        </div>
    </div>
    {{> "search-inner"}}
    <div id="post-inner" class="post inner">
        <article id="post-article" class="post-full post"></article>
    </div>
    {{> "site-footer"}}
</main>
