{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header"}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    {{> "index-inner"}}
    <div id="post-inner" class="post inner"></div>
</main>
