{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header"}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- The main content area --}}
<main id="site-main" class="site-main index outer" role="main">
    {{> "index-inner"}}
    {{> "search-inner"}}
    <div id="post-inner" class="post inner">
        <article id="post-article" class="post-full post"></article>
    </div>
    {{> "site-footer"}}
</main>
