{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<meta name="google-site-verification" content="CZuJBVbmjQdYaKUXQ6pDcDQ1Y9dH13s1oeZmN_AZpu4" />

<header class="site-header outer">
    {{> "site-nav"}}
</header>

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="index inner" style="position: relative">
       <div id="cako-post-feed-outer">
           <div id="cako-intro">A blog and software consultancy by <a id="name-link" href="https://davidcako.com">David Cako</a></div>
           <div id="cako-post-feed">
            {{!--<div class="cako-featured">
                <h3 id="cako-featured-header">Serenity</h3>
                <div class="cako-post">
                    <a href="/neiye-inner-hearing/" class="cako-post-link yellow">
                        <div class="cako-post-title">Neiye: Inner Hearing</div>
                        <div class="cako-post-date-outer">
                            <time class="cako-post-date" datetime="2020-10-15">15 October 2019</time>
                        </div>
                    </a>
                </div>
            </div>--}}
                {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
            </div>
        </div>
    </div>
    <script type="module" src="{{asset "js/postLoadingSpinner.js"}}"></script>
</main>
