body {
    color: #fff;
    background-color: #000;
}

#cako-site-nav-link:hover {
    border: 1px solid #27d7ff;
}

#cako-site-nav-link:hover>span {
    color: #27d7ff !important;
}

#cako-menu-inner .icon {
    background-color: #fff;
}

#cako-menu-inner a {
    color: #fff;
}

.post-nav .icon {
    background-color: #aeaeae;
}

.post-nav .cako-post-title {
    color: #eee;
}

.nav-icon {
    background: #fff;
}

.nav-icon-outer {
    background: #000;
}

#cako-menu-indicator {
    background: #27d7ff;
}

#cako-menu-inner {
    background: #000;
    border: 1px solid #fff;
}

#name-link {
    color: #fff;
}

#cako-menu-inner .cako-menu-item:active,
#cako-menu-inner .cako-menu-item:hover {
    color: #000;
    background-color: #fff;
}

#cako-menu-inner .cako-menu-item:active ion-icon,
#cako-menu-inner .cako-menu-item:hover ion-icon {
    color: #000;
}

#cako-menu .cako-featured {
    background-color: #000;
}


.cako-post-title {
    color: #fff;
}

.post-full-title {
    color: #fff;
}

.cako-post-date {
    color: #27d7ff;
}

.post-full-meta-date {
    color: #27d7ff;
}

.post-full-content a {
    color: #fff;
}

.post-full-content img.typed {
    filter: invert(1);
}

.post-full-content hr:after {
    background: #fff;
}

.post-nav .cako-post-link:focus .icon {
    background-color: #27d7ff;
}

#cako-search-results .cako-post-link:focus .cako-post-date,
.post-nav .cako-post-link:focus .cako-post-date,
.post-nav .cako-post-link:hover .cako-post-date {
    border-bottom: 1px solid #27d7ff;
}

code {
    background: rgba(255, 255, 255, 0.15);
}

#email-address {
    color: #27d7ff;
    border: 1px solid #27d7ff;
}

.copyright a {
    color: #fff
}

.cako-featured {
    border: 1px solid #d29506;
}

.cako-featured-header {
    color: #f7ae05;
}

.cako-featured .cako-post-link .cako-post-date {
    color: #eca80a;
}

.post-full-content blockquote {
    border-left: #27d7ff 1px solid;
}