
body {
    color: #fff;
    background-color: #000;
}

.inner {
    background: #000;
}

#cako-site-nav-link:hover {
    border: 1px solid #27d7ff;
}

#cako-site-nav-link:hover > span {
    color: #27d7ff !important;
}

.cako-menu-item .bulb-icon {
    background-color: #fff;
}

#cako-menu .menu-icon {
    background: #fff;
}

#cako-menu .menu-icon-outer {
    background: #000;
}

#cako-menu-inner {
    background: #000;
    border: 1px solid #fff;
}

.cako-menu-item:active, .cako-menu-item:hover {
    color: #000;
    background-color: #fff;
}

.cako-menu-item:active .bulb-icon, .cako-menu-item:hover .bulb-icon {
    background-color: #000;
}

.cako-post-title {
    color: #fff;
}

.post-full-title {
    color: #fff;
}

.cako-post-date {
    color: #27d7ff;
}

.post-full-meta-date {
    color: #27d7ff;
}

.post-full-content {
    background: #000;
}

.post-full-content a {
    color: #fff;
}

.post-full-content img.typed {
    filter: invert(1);
}

.post-full-content hr:after {
    background: #fff;
}

code {
    background: rgba(255,255,255,0.15);
}
